# Files created by the installer
.env
bootstrap.sh
config.pbtxt
requirements.txt

# Files created by bazel
bazel-bin
bazel-out
bazel-ProGraML
bazel-testlogs

# Cache files
**/__pycache__

# Zach thesis stuff
deeplearning/ml4pl/poj104/.ipynb_checkpoints/
deeplearning/ml4pl/poj104/classifyapp_data
deeplearning/ml4pl/poj104/classifyapp_data.zip
**/*.DS_Store
llvm_mac
third_party/py/tensorflow/BUILD
llvm_linux
bazel-genfiles
deeplearning/ml4pl/poj104/classifyapp_logs
