# Files created by the installer
.env
bootstrap.sh
config.pbtxt
requirements.txt

# Files created by bazel
bazel-bin
bazel-out
bazel-ProGraML
bazel-testlogs

# Cache files
**/__pycache__

# Zach thesis stuff
deeplearning/ml4pl/poj104/.ipynb_checkpoints/
deeplearning/ml4pl/poj104/classifyapp_data
deeplearning/ml4pl/poj104/classifyapp_data_copy
deeplearning/ml4pl/poj104/classifyapp_data.zip
**/*.DS_Store
llvm_mac
third_party/py/tensorflow/BUILD
llvm_linux
bazel-genfiles
deeplearning/ml4pl/poj104/classifyapp_logs
deeplearning/ml4pl/poj104/*.out
*.out
deeplearning/ml4pl/scripts/poj104/sub10_ts4x2_bs64
deeplearning/ml4pl/scripts/**/*.out
deeplearning/ml4pl/scripts/**/run_*.sh
deeplearning/ml4pl/scripts/**/README.txt

deeplearning/ml4pl/poj104/scripts/**/*.out
deeplearning/ml4pl/poj104/scripts/**/run_*.sh
deeplearning/ml4pl/poj104/scripts/**/README.txt
deeplearning/ml4pl/poj104/msd
deeplearning/ml4pl/poj104/devmap_data
deeplearning/ml4pl/poj104/logs
deeplearning/ml4pl/poj104/threadcoarsening_data
deeplearning/ml4pl/poj104/unsupervised_ncc_data
